.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#drum-machine {
  width: 480px;
  height: 480px;
  // border: 1px solid $text;
  box-sizing: border-box;
  padding: 12px 2px;

  .row {
    width: 100%;
    height: 33.3%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.drum-pad {
  width: 125px;
  height: 125px;
  box-sizing: border-box;
  border: 1px solid $text;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.04);
  }
}

.active {
  transition: border 0.2s ease-in-out;
  border: 2px solid $orangeMain;
}

#display {
  font-size: 1.5rem;
  margin-top: 3rem;
  height: 2rem;
  color: $text;
  letter-spacing: 0.2rem;

  a {
    color: inherit;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $orangeMain;
      transition: color 0.2s ease-in-out;
    }
  }
}

